{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    <title>Playlist</title>

    {% block metatags %}
        <meta property='og:title' content="Visumic: View Events"/>
        <meta property='og:image' content='{% static 'static/img/visumic_white_logo.png'  %}'/>
        <meta property='og:description' content="Browse through artist events and attend them"/>
        <meta property='og:url' content='{% url 'events:event_list' %}' />
    {% endblock metatags %}
<script>
    $(document).ready(function() {
        {% load static %}

        loadEventContainer()

        var typingTimer;
        var doneInterval = 800; // in ms
        var searchInput = $("#event-search-form input[type=text]")
        var searchQuery;
        searchInput.keyup(function(event){
            searchQuery =  $(this).val()
            clearTimeout(typingTimer)
            typingTimer = setTimeout(doneSearchTyping, doneInterval)

        })
         searchInput.keydown(function(event){
            clearTimeout(typingTimer)
        })
        function doneSearchTyping(){
          if (searchQuery){
            // do search
            var url = '/events/?q=' + searchQuery
            document.location.href = url;
          }
            else {
              var url = '/events/'
              document.location.href = url;
          }
        }

    })
</script>
{% include "events/event_search_form.html" %}
    <div class='container-fluid'><div class='row'>
            <div id="event-container" data-url="/api/events/">

            </div>
        </div>
        </div>
    <div class="footerscroll"></div>
            <div class="text-center" style="padding-top:30px"><span id="loadmore" class="btn btn-primary" style="width:75%;display:none"><h5 class="text-center">Load More Events</h5></span></div>
    {% load static %}
    <div id="myDiv" class="text-center">
        <img id="loading-image" src="{% static 'static/img/ajax-loader.gif'  %}" style="display:none;"/>
    </div>
{% endblock content %}