amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.0
billiard==3.3.0.23
celery==3.1.25
click==6.7
decorator==4.0.11
dj-database-url==0.4.2
Django==1.11
django-celery-results==1.0.1
django-common-helpers==0.9.1
django-crispy-forms==1.6.1
django-cron==0.5.0
django-filter==1.0.1
django-hitcount==1.2.2
djangorestframework==3.5.4
easy-thumbnails==2.3
freeze==1.0.10
gunicorn==19.7.1
imageio==2.1.2
kombu==3.0.37
Markdown==2.6.8
moviepy==0.2.3.2
nodeenv==1.1.2
numpy==1.13.0
olefile==0.44
packaging==16.8
Pillow==4.0.0
psycopg2==2.6.2
pyparsing==2.1.10
pytz==2017.2
redis==2.10.5
rq==0.7.1
schedule==0.4.2
six==1.10.0
tqdm==4.11.2
vine==1.1.3
