{% extends 'base.html' %}

{% block content %}
<script>
$(document).ready(function(){

loadVideoContainer("tag-video-container")

updateHashLinks()
})
</script>
    <title>#{{ hashtag.tag }}</title>
    <div class='container-fluid'><div class='row'>
        <h1 class="text-center hash">#{{ hashtag.tag }}</h1>
            <div id="tag-video-container"  class="row fix" data-url="/api/hashtag/{{ hashtag.tag }}/">

            </div>
        </div>
        </div>
            <div class="text-center"><span id="loadmore" class="btn btn-primary" style="width:75%;display:none"><h5 class="text-center">Load More Videos</h5></span></div>
{% load static %}
{#    <img src="{% static 'static/img/ajax-loader.gif'  %}">#}
    <div id="myDiv" class="text-center">
        <img id="loading-image" src="{% static 'static/img/ajax-loader.gif'  %}" style="display:none;"/>
    </div>
{% endblock content %}