{% extends 'accounts/profile_detail.html' %}



{% block profilecontent %}
<script>
    $(document).ready(function() {
        {% load static %}

        function attachVideo(playlistValue, prepend) {

            //var profiletImg = profileValue.user_img


            var videoUser = playlistValue.user
            var profileValue = videoUser.profile
            var playlistImg = "{% static 'static/img/VPlaylist.jpg' %}"
            if(!playlistValue.is_empty) {
                var playlistImg = playlistValue.videos[0].thumbnail
            }
            //var test = playlistValue.videos[0].title
            //console.log(test)


            var videoFormatHtml = "<div class='col-md-3'><a href='" + videoUser.url + "'><img src='" + profileValue.user_img + "' class='videolistpic img-responsive img-circle' style='display:inline'></a><h5 class='inline'>" + videoUser.username + "</h5>" +
                    "<span class= 'glyphicon glyphicon-user' class='inline' aria-hidden='true'></span><h5 class='inline'>" + " " + profileValue.follower_count + " " + "<span class= 'glyphicon glyphicon-play' class='inline' aria-hidden='true'></span><h5 class='inline'>" + " " + playlistValue.video_count + "  " +
                    "" +  "<a href='" + playlistValue.url + "'><img src='" + playlistImg + "'class='thumbnail img-responsive'></a><a href='" + playlistValue.url + "'><h4 class='text-center blacklink'>" + playlistValue.name + "</h4></a></div>"

            if (prepend == true) {
                $("#userliked").prepend(profileFormattedHtml)
            }
            else {
                $("#userliked").append(
                        videoFormatHtml
                )
            }
        }

       // var query = getParameterByName('q')
        var videoList = [];
        var nextVideoUrl;
//        console.log(query)
        function parseVideos() {

            if (videoList == 0) {
                $("#userliked").text("No Playlist")
                $("#userliked").addClass("text-center")
                $("#userliked").removeClass("fix")
            } else {
                //tweets exist, parse & display them


                //console.log(key)
                $.each(videoList, function (key, value) {
                    var profileKey = key
                    attachVideo(value)


                })
            }
        }

        function fetchVideos(url) {
            var fetchUrl;
            if (!url) {
                fetchUrl = "/api/videos/" + "{{ User.username }}" + "/playlist/"
            } else {
                fetchUrl = url
            }
            $.ajax({
                url: fetchUrl,
                data: {
                  //  "q": query
                },
                method: "GET",
                success: function (data) {

                    videoList = data.results
                    if (data.next) {
                        nextVideoUrl = data.next
                    } else {
                        $("#loadmore").css("display", "none");
                        nextVideoUrl = null
                    }
                    parseVideos()
                },
                error: function (data) {
                    console.log("error")

                }
            })
        }

        fetchVideos()

        $("#loadmore").click(function (event) {
            event.preventDefault()
            // load more items
            if (nextVideoUrl) {
                fetchVideos(nextVideoUrl)
            }

        })



    })
</script>
    <title>{% block title %}{{ User.username }} | Playlist{% endblock title %}</title>
<div class="row fix" id="userliked" style="padding:20px;">



</div>
            <div class="text-center" style="padding-top:30px"><span id="loadmore" class="btn btn-primary" style="width:75%;display:none"><h5 class="text-center">Load More Playlist</h5></span></div>
{% load static %}
{#    <img src="{% static 'static/img/ajax-loader.gif'  %}">#}
    <div id="myDiv" class="text-center">
        <img id="loading-image" src="{% static 'static/img/ajax-loader.gif'  %}" style="display:none;"/>
    </div>
{% endblock profilecontent %}
{% block videoScript %}
{% endblock videoScript %}