{% extends 'accounts/profile_detail.html' %}



{% block profilecontent %}
<script>
    $(document).ready(function() {


            function attachProfile(profileUser, prepend) {

            //var profiletImg = profileValue.user_img



            var profileValue = profileUser.profile
            var verb = "Follow"
            var follower_count = profileValue.follower_count
            if(profileValue.is_following) {
                verb = "Unfollow"
            }

            var profileFormattedHtml2 = "<div class='col-md-3 profilecontainer text-center'>'" +
                    "<a href ='" +  profileUser.url + "'><img src='" + profileValue.user_img + "'class='listpic img-circle img-responsive'></a><h6>" + profileUser.username + "|</h6><span class='glyphicon glyphicon-user' aria-hidden='true'></span><h6><a href='#' class='follow-btn btn btn-primary btn-sm' data-id="+ profileUser.username +">" + verb + " " +  profileValue.follower_count + "" +
                    "</a></h6><span class='glyphicon glyphicon-play' aria-hidden='true'></span><h6>Videos:" + profileUser.video_count + "</h6></div>"


                var okay = "<h1>Hello World</h1>"
            if (prepend == true) {
                $("#userfollowers").prepend(profileFormattedHtml)
            }
            else {
                $("#userfollowers").append(
                        profileFormattedHtml2

                )
            }
        }


        var profileList = [];
        var nextProfileUrl;
//        console.log(query)
        function parseProfiles() {

                if (profileList == 0) {
                    $("#userfollowers").text("Following No Profiles")
                    $("#userfollowers").addClass("text-center")
                } else {
                    //tweets exist, parse & display them


                //console.log(key)
                $.each(profileList, function (key, value) {
                    var profileKey = key
                    attachProfile(value)

            })
        }
        }
        function fetchProfiles(url) {
            console.log("fethicng ...")
            var fetchUrl;
            if (!url) {
                fetchUrl = "/api/accounts/" + "{{ User.username }}" + "/following"
            } else {
                fetchUrl = url
            }
            $.ajax({
            url: fetchUrl,
            data: {
            //    "q": query
            },
            method: "GET",
            success: function(data){

                profileList = data.results
                if (data.next) {
                    nextProfileUrl = data.next
                } else {
                    $("#loadmore").css("display", "none");
                }
                parseProfiles()
            },
            error: function(data){
                console.log("error")

            }
        })
        }
            fetchProfiles()

        $("#loadmore").click(function(event){
            event.preventDefault()
            // load more items
            if (nextProfileUrl) {
                fetchProfiles(nextProfileUrl)
            }

        })

        })
</script>
    <title>{% block title %}{{ User.username }} | Following{% endblock title %}</title>
<div class="row" id="userfollowers" style="padding:20px;">



</div>
    <a href="#" id="loadmore"><h5 class="text-center">Load More Videos</h5></a>


{% endblock profilecontent %}