{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
{% block metatags %}
<meta property='og:title' content="Visumic: Check Out {{ User.username }} Profile!"/>
<meta property='og:image' content="{{ User.profile.user_img.url }}"/>
<meta property='og:description' content="{{ User.profile.bio }}"/>
<meta property='og:url' content='{{ User.profile.get_absolute_url }}' />
{% endblock metatags %}
    <title>{% block title %}{{ User.username }}{% endblock title %}</title>
</head>
{#<body>#}
{#    <h1>{{ User.username }}</h1>#}
{#    <h2>{{ User.profile.id }}</h2>#}
{#    <h3>{{ object.id }}</h3>#}
{#    <h2><img src="{{ User.profile.user_img.url }}"></h2>#}
{#    <h2>{% if all_videos %}#}
{#            <h1>Hello</h1>#}
{#        {% for video in all_videos %}#}
{#            <h4>{{ video.title }}#}
{#                {{ User.profile.user.videos.all }}#}
{#            </h4>#}
{##}
{#        {% endfor %}#}
{#        {% endif %}#}
{#    </h2>#}
{#</body>#}


<script>
     $(document).ready(function() {
            var followerurl = "{% url 'accounts:profile_detail-followers' User.username  %}";
            var likedurl = "{% url 'accounts:profile_detail-liked' User.username  %}";
            var followingurl = "{% url 'accounts:profile_detail-following' User.username  %}";
            var sharedurl = "{% url 'accounts:profile_detail-shared' User.username  %}";
            var videourl = "{% url 'accounts:profile_detail' User.username %}"
            var playlisturl = "{% url 'accounts:profile_detail-playlist' User.username %}"
            var eventurl = "{% url 'accounts:profile_detail-events' User.username %}"
         function displayProfile(profileValue) {
             var profileUser = profileValue.user
             var verb = "Follow"
             if(profileValue.is_following) {
                verb = "Unfollow"
            }
             formattedHtml = "<h1>" + profileValue.user.username +   "  | <a href='#' class='follow-btn' data-id=" + profileValue.id + ">" + verb + " " + profileValue.follower_count + "</a></h1>"


             profileFormatedHtml = "<div class='row'><div><img src='" + profileValue.profile_banner  + "'class='bannerimg'></div></div>" +
             "<div class='row' id='profileinfo'><div class='col-md-3'><img src='" + profileValue.user_img + "'class='img-circle img-responsive listpic'><ul style='padding-top:10px;padding-bottom:10px'><h4 class='inline'>" + profileUser.username + " " + "</h4><h5 class='btn btn-primary inline follow-btn' data-id=" + profileUser.username + ">" + verb + " " + profileValue.follower_count + "</h5></ul></div>" +
             "<div class='col-md-1'><h5>Followers: " + profileValue.follower_count + "</h5><h5>Videos: " + profileUser.video_count + "</h5><h5>Views: " + profileUser.all_views.views__hit__count + "</h5></div>" +
             "<div class='col-md-1'><h5>Likes: " + profileUser.all_likes.liked__count + "</h5><h5>Shares: " + profileUser.all_shares.shares__count + "</h5><h5>Comments:" + profileUser.all_comments + "</h5></div><div class='col-md-5'><h5>" + profileValue.bio + "</h5></div></div>"

             profileFormatedHtml2 = "<div class='row' id='profilelist'><div class='col-md-9'><ul class='inline'><li><a href='" + videourl + "'>Videos </a></li>|<li><a href='" + likedurl + "'>Liked</a></li>|" +
             "<li><a href='" + followerurl + "'>Followers</a></li>|<li><a href='" + followingurl + "'>Following</a></li>|<li><a href='" + sharedurl + "'>Shared</a></li>|<li><a href='" + playlisturl + "'>Playlist</a></li>|<li><a href='" + eventurl + "'>Events</a></li></ul></div></div><div class='row'><div class='col-md-9 blackline'></div></div>"
             $('#userprofile').append(profileFormatedHtml + profileFormatedHtml2)
         }
       function fetchProfile(url) {
            var fetchUrl;
            if (!url) {
                fetchUrl = "/api/accounts/" + "{{ User.username }}"
            } else {
                fetchUrl = "/api/accounts/"
                fetchUrl = fetchUrl + url.toString()
            }
            $.ajax({
            url: fetchUrl,
{#            data: {#}
{#                "q": query#}
{#            },#}
            method: "GET",
            success: function(data){
                displayProfile(data)
                $('#userprofile').linkify();


            },
            error: function(data){
                console.log("error")
              //  console.log(data)
            }
        })
        }
         fetchProfile()



         {% block videoScript %}
    loadVideoContainer("uservideos")


     $(document.body).on("click", ".deletevideo-btn", function(e){
      e.preventDefault()
      var this_ = $(this)
      var videoId = this_.attr("data-id")
      var deleteShareUrl = '/api/videos/' + videoId  + '/'
        swal({
        title: "Are you sure?",
        text: "Are you sure that you want to delete this share?",
        type: "warning",
        showCancelButton: true,
        allowOutsideClick: true,
        closeOnConfirm: true,
        confirmButtonText: "Yes, delete it!",
        confirmButtonColor: "black"

    },
            function() {
                // this_.text("Liked")
                $.ajax({
                    method: "DELETE",
                    url: deleteShareUrl,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                    },
                    success: function (data) {
                        console.log("deleted")
                        $('#' + videoId).hide(500)
                    },
                    error: function (data) {
                        cannot()
                        console.log("error")
                        //console.log(data)
                    }
                })
            })

  })
             {% endblock videoScript %}
                });
</script>
    <div class="container-fluid" id="userprofile">

</div>
    <div class="container-fluid">
{% block profilecontent %}

        <div class="row fix" id="uservideos" style="padding:20px;" data-url="/api/accounts/{{ User.username }}/videos/"


    </div>
    </div>
    <div class="footerscroll"></div>
    <div class="text-center"><a href="#" id="loadmore" class="btn btn-primary" style="display:none;width:10%"><h5 class="text-center">Load More Videos</h5></a></div>
{% endblock profilecontent %}
{% endblock content %}