{% extends 'accounts/profile_detail.html' %}



{% block profilecontent %}
<script>
    $(document).ready(function() {

    loadPlaylistContainer("userplaylist")


    })
</script>
    <title>{% block title %}{{ User.username }} | Playlist{% endblock title %}</title>
<div class="row fix" id="userplaylist" style="padding:20px;" data-url="/api/videos/{{ User.username }}/playlist/">



</div>
    <div class="footerscroll"></div>
            <div class="text-center" style="padding-top:30px"><span id="loadmore" class="btn btn-primary" style="width:75%;display:none"><h5 class="text-center">Load More Playlist</h5></span></div>
{% load static %}
{#    <img src="{% static 'static/img/ajax-loader.gif'  %}">#}
    <div id="myDiv" class="text-center">
        <img id="loading-image" src="{% static 'static/img/ajax-loader.gif'  %}" style="display:none;"/>
    </div>
{% endblock profilecontent %}
{% block videoScript %}
{% endblock videoScript %}