{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
{% load staticfiles %}

<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'static/css/main.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.min.js"></script>
<script src="https://use.fontawesome.com/98870766b6.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="shortcut icon" type="image/png" href="{% static 'static/img/visumic_logo_bit.png' %}"/>
<script src = "{% static 'static/js/main.js' %}" ></script>
<script src = "{% static 'static/js/linkify/linkify.min.js' %}"></script>
<script src = "{% static 'static/js/linkify/linkify-jquery.min.js' %}"></script>
{% block metatags %}
<meta property='og:title' content='Visumic'/>
<meta property='og:image' content='{% static 'static/img/visumic_white_logo.png'  %}'/>
<meta property='og:description' content='An independent artistic, creative, talented driven community where people with different skills can upload & share their work, connect with other artist,
and view artist work. Special Thanks to all artist'/>
<meta property='og:url' content='https://www.visumic.com/' />
{% endblock metatags %}
{#<script src="{% static 'static/sweetalert.min.js' %}"></script>#}
{#<link rel="stylesheet" type="text/css" href="{% static 'static/sweetalert.css' %}">#}
{#    <script src="../../Scripts/node_modules/sweetalert/dist/sweetalert.min.js"></script>#}
{#<link rel="stylesheet" type="text/css" href="../../Scripts/node_modules/sweetalert/dist/sweetalert.css">#}
<script>
    //Load Video Data
    function getScrollTime() {
        var scrolltime = 500;
        return scrolltime
    }

    function loadVideoContainer(videoContainerID, isVideoValue) {

        var videoContainer;
        var videoList = [];
        var nextVideoUrl;
        if(videoContainerID) {
            videoContainer = $("#" + videoContainerID)
        }
        else {
             videoContainer = $('#video-container')
        }

        var initialURL = videoContainer.attr("data-url") || "/api/videos/";

        function attachVideo(videoValue, prepend) {

            //var profiletImg = profileValue.user_img

            if(!isVideoValue) {
                var videoUser = videoValue.user
                var profileValue = videoUser.profile
            }
            else {
                videoValue = videoValue.video
                var videoUser = videoValue.user
                var profileValue = videoUser.profile
            }
            var verb = "Follow"
          //  var follower_count = profileValue.follower_count
           // if(profileValue.is_following) {
           //     verb = "Unfollow"
           // }

            //var profileFormattedHtml2 = "<div class='col-md-3 profilecontainer text-center'>'" +
           //         "<a href ='" +  profileUser.url + "'><img src='" + profileValue.user_img + "'class='listpic img-circle img-responsive'></a><h6>" + profileUser.username + "|</h6><span class='glyphicon glyphicon-user' aria-hidden='true'><h6><a href='#' class='follow-btn' data-id="+ profileValue.id +">" + verb +  profileValue.follower_count + "|" +
             //       "</a></h6></span><span class='glyphicon glyphicon-play' aria-hidden='true'><h6>Videos:" + profileUser.video_count + "</h6></span></div>"

{##}
{#            var videoFormatHtml = "<div class='col-md-3' style='padding-bottom:20px'><a href='" + videoUser.url + "'><img src='" + profileValue.user_img + "' class='videolistpic img-responsive img-circle' style='display:inline'></a><h5 class='inline'>" + videoUser.username + "</h5>" +#}
{#                    "<h6 class='inline'><span class= 'glyphicon glyphicon-user' class='inline' aria-hidden='true'></span>" + " " + profileValue.follower_count + " " + "</h6><h6 class='inline'><span class= 'glyphicon glyphicon-facetime-video' aria-hidden='true'></span>" + " " + videoUser.video_count + "  " +#}
{#                    "</h6><h6 class='inline'><span class='glyphicon glyphicon-play' class='inline' aria-hidden='true'></span>" + " " + videoValue.views + " " + "</h6><h6 class='inline'><span class='glyphicon glyphicon-share' class='inline' aria-hidden='true'></span>" + " " + videoValue.shares_count + " " + "</h6><h6 class='inline'><span class='glyphicon glyphicon-thumbs-up' class='inline' aria-hidden='true'></span>" + " " + videoValue.likes_count + "</h6><a href='" + videoValue.genre.url + "' class='blacklink' style=''><h6 class='inline genre'>" + videoValue.genre.genrename + "</h6></a>" +#}
{#                    "<a href='"+ videoValue.url +"'><div class='container'><img src='" + videoValue.thumbnail + "'class='thumbnail img-responsive'></a>" +#}
{#                    "</div><a href='"+ videoValue.url +"'><h5 class='text-center blacklink'>" +  videoValue.title  +"</h5></a><h6 class='text-center'>" + videoValue.timesince + "</h6></div>"#}
                    var videoFormatHtml = "<div class='col-md-3' style='padding-bottom:20px'><a href='" + videoUser.url + "'><img src='" + profileValue.user_img + "' class='videolistpic img-responsive img-circle' style='display:inline'></a><h5 class='inline'>" + videoUser.username + "</h5>" +
                    "<h6 class='inline'><span class= 'glyphicon glyphicon-user' class='inline' aria-hidden='true'></span>" + " " + profileValue.follower_count + " " + "</h6><h6 class='inline'><span class= 'glyphicon glyphicon-facetime-video' aria-hidden='true'></span>" + " " + videoUser.video_count + "  " +
                    "</h6><h6 class='inline'><span class='glyphicon glyphicon-play' class='inline' aria-hidden='true'></span>" + " " + videoValue.views + " " + "</h6><h6 class='inline'><span class='glyphicon glyphicon-share' class='inline' aria-hidden='true'></span>" + " " + videoValue.shares_count + " " + "</h6><h6 class='inline'><span class='glyphicon glyphicon-thumbs-up' class='inline' aria-hidden='true'></span>" + " " + videoValue.likes_count + "</h6><a href='" + videoValue.genre.url + "' class='blacklink' style='margin-left:3px'><h6 class='inline genre'>" + videoValue.genre.genrename + "</h6></a>" +
                            "<a href='"+ videoValue.url +"'><img src='" + videoValue.thumbnail + "'class='thumbnail img-responsive'></a><a href='"+ videoValue.url +"'><h5 class='text-center blacklink'>" +  videoValue.title  +"</h5></a><h6 class='text-center'>" + videoValue.timesince + "</h6></div>"

            if (prepend == true) {
                videoContainer.prepend(profileFormattedHtml)
            }
            else {
                videoContainer.append(
                        videoFormatHtml

                )
            }
        }


        var query = getParameterByName('q')
        var ordering = getParameterByName('ordering')

//        console.log(query)
        function parseVideos() {

                if (videoList == 0) {
                    videoContainer.text("No Videos Currently Found.")
                    videoContainer.addClass("text-center")
                    videoContainer.removeClass('fix')
                } else {
                    //tweets exist, parse & display them


                //console.log(key)
                $.each(videoList, function (key, value) {
                    var profileKey = key
                    attachVideo(value)

            })
        }
        }
        function fetchVideos(url) {
            var fetchUrl;
            if (!url) {
                fetchUrl = initialURL;
            } else {
                fetchUrl = url
            }
            $.ajax({
            url: fetchUrl,
            data: {
                "q": query,
                "ordering": ordering
            },
            type: "GET",

            beforeSend: function(data) {
              $("#loading-image").show();

           },
            success: function(data){
                $("#loadmore").show();
                videoList = data.results
                if (data.next) {
                    nextVideoUrl = data.next
                } else {
                    nextVideoUrl = null
                    $("#loadmore").css("display", "none");

                }
                parseVideos()
                $("#loading-image").hide();
            },

            error: function(data){
                console.log("error")
            }
        })

        }
            fetchVideos()

        $("#loadmore").click(function(event){
            event.preventDefault()
            // load more items
            if (nextVideoUrl) {
                fetchVideos(nextVideoUrl)
            }

        })

var ready = true
$(window).bind('scroll', function() {
        if(ready && $(window).scrollTop() >= $('.footerscroll').offset().top + $('.footerscroll').outerHeight() - window.innerHeight) {
            $('#loadmore').hide()
            ready = false
          setTimeout(function(){
            if(nextVideoUrl) {
                fetchVideos(nextVideoUrl)
                ready = true
            }
          }, 500);
        }
});

    }

    //Fetch Profiles
    function loadProfileContainer(profileContainerID, notProfileUser) {
        var profileList = [];
        var nextProfileUrl;
        var profileContainer;
                if(profileContainerID) {
                profileContainer = $("#" + profileContainerID)
        }
        else {
             profileContainer = $('#profile-container')
        }

        var initialURL = profileContainer.attr("data-url") || "/api/accounts/";


        function attachProfile(profileValue, prepend) {

            //var profiletImg = profileValue.user_img

            if(notProfileUser) {
                profileValue = profileValue.profile
            }

                var profileUser = profileValue.user
                var verb = "Follow"
                var follower_count = profileValue.follower_count

            if(profileValue.is_following) {
                verb = "Unfollow"
            }
            var profileFormattedHtml = "<div class=\"media\"><div class=\"media-body\">" +  "<br> via <a href='" + profileUser.url + "'>" +
                    profileUser.username + " videos: " + profileUser.video_count + "</a> | " +  " | " + "<a href='#'>View "  +  "  | <a href='#' class='follow-btn btn btn-primary' data-id=" + profileValue.id + ">" + verb + " " + profileValue.follower_count + "</a></div></div><hr>"


            var profileFormattedHtml2 = "<div class='col-md-3 profilecontainer text-center'>'" +
                    "<a href ='" +  profileUser.url + "'><img src='" + profileValue.user_img + "'class='listpic img-circle img-responsive'></a><h6>" + profileUser.username + "|</h6><h6><a href='#' style='font-size:11px' class='follow-btn btn btn-primary btn-sm' data-id="+ profileUser.username +">" + verb + " " +  profileValue.follower_count + "" +
                    "</a></h6><span style='font-size:12px' class='glyphicon glyphicon-play' aria-hidden='true'></span><h6><strong>" + profileUser.video_count + "</strong></h6></div>"
            if (prepend == true) {
                profileContainer.prepend(profileFormattedHtml)
            }
            else {
                profileContainer.append(
                        profileFormattedHtml2

                )
            }
        }

        var query = getParameterByName('q')
        var ordering = getParameterByName('ordering')

//        console.log(query)
        function parseProfiles() {

                if (profileList == 0) {
                    profileContainer.text("No Profiles Currently Found")
                    profileContainer.addClass("text-center")
                } else {
                    //tweets exist, parse & display them


                //console.log(key)
                $.each(profileList, function (key, value) {
                    var profileKey = key
                    attachProfile(value)


            })
        }
        }
        var dataHolder;
        function fetchProfiles(url) {

            var fetchUrl;
            if (!url) {
                fetchUrl = initialURL
            } else {
                fetchUrl = url
            }
            $.ajax({
            url: fetchUrl,
            data: {
                "q": query,
                "ordering": ordering
            },
            beforeSend: function(data) {
              $("#loading-image").show();

           },
            method: "GET",
            success: function(data){
                $("#loading-image").hide();
                $('#loadmore').show()
                profileList = data.results


                if (data.next) {
                    nextProfileUrl = data.next

                } else {
                    nextProfileUrl = null
                    $("#loadmore").hide()
                  //  $("#loadmore").css("display", "none");

                }

                parseProfiles()
            },

            error: function(data){
                console.log("error")
            }
        })
        }
            fetchProfiles()

        $("#loadmore").click(function(event){
            event.preventDefault()
            // load more items
            if(nextProfileUrl) {
                fetchProfiles(nextProfileUrl)
            }


        })
var ready = true
$(window).bind('scroll', function() {
        if(ready && $(window).scrollTop() >= $('.footerscroll').offset().top + $('.footerscroll').outerHeight() - window.innerHeight) {
            $('#loadmore').hide()
            ready = false
          setTimeout(function(){
            if(nextProfileUrl) {
                fetchProfiles(nextProfileUrl)
                ready = true
            }
          }, 500);
        }
});
    }

    //Chart Videos
    function loadChartContainer(chartContainerID) {
        var chartContainer;
        var videoList = [];
        var nextVideoUrl;
        if(chartContainerID) {
            chartContainer = $("#" + chartContainerID)
        }
        else {
             chartContainer = $('#alltime-container')
        }

        var initialURL = chartContainer.attr("data-url") || "/api/videos/";
            function attachVideo(videoValue, prepend) {

            //var profiletImg = profileValue.user_img



            var videoUser = videoValue.user
            var profileValue = videoUser.profile
            var verb = "Follow"
          //  var follower_count = profileValue.follower_count
           // if(profileValue.is_following) {
           //     verb = "Unfollow"
           // }

            //var profileFormattedHtml2 = "<div class='col-md-3 profilecontainer text-center'>'" +
           //         "<a href ='" +  profileUser.url + "'><img src='" + profileValue.user_img + "'class='listpic img-circle img-responsive'></a><h6>" + profileUser.username + "|</h6><span class='glyphicon glyphicon-user' aria-hidden='true'><h6><a href='#' class='follow-btn' data-id="+ profileValue.id +">" + verb +  profileValue.follower_count + "|" +
             //       "</a></h6></span><span class='glyphicon glyphicon-play' aria-hidden='true'><h6>Videos:" + profileUser.video_count + "</h6></span></div>"


            var videoFormatHtml =  "<div class='row'><div class='col-md-offset-1 col-md-2' style='margin-top:5em'><h4><strong>" + counter + ".</strong></h4></div><div class='col-md-3 col-md-offset-1'><a href='" + videoUser.url + "'><img src='" + profileValue.user_img + "'class='videolistpic img-responsive img-circle' style='display:inline'></a>" +
                    "<h5 class='inline'>" + videoUser.username + "</h5><h6 class='inline'><span class='glyphicon glyphicon-user' aria-hidden='true'></span>" + " " + profileValue.follower_count + " " + "</h6><h6 class='inline'><span class='glyphicon glyphicon-facetime-video' aria-hidden='true'></span>" + " " + videoUser.video_count + " " + "</h6><h6 class='inline'><span class='glyphicon glyphicon-play' aria-hidden='true'></span>" + " " + videoValue.views + " " + "</h6><h6 class='inline'><span class='glyphicon glyphicon-share' aria-hidden='true'></span>" + " " + videoValue.shares_count + " " + "</h6><h6 class='inline'><span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'></span>" + " " + videoValue.likes_count + " " + "</h6><a href='" + videoValue.genre.url + "' class='blacklink' style='padding-left:3px'><h6 class='inline genre'>" + videoValue.genre.genrename + "</h6></a>" +
                    "<a href='" + videoValue.url + "'><img src='" + videoValue.thumbnail + "' class='thumbnail chart-thumbnail img-responsive'></a><a href='" + videoValue.url + "'><h5 class='text-center blacklink'>" + videoValue.title + "</h5></a></div><div class='col-md-3' style='margin-top:5em;position:relative'><h4>Views: <strong>" + videoValue.views + "</strong></h4></div></div>"

            if (prepend == true) {
                chartContainer.prepend(profileFormattedHtml)
            }
            else {
                chartContainer.append(
                        videoFormatHtml

                )
            }
        }

        var query = getParameterByName('q')

//        console.log(query)
        function parseVideos() {

                if (videoList == 0) {
                    chartContainer.text("No Videos Currently Found.")
                    chartContainer.addClass("text-center")
                } else {
                    //tweets exist, parse & display them


                //console.log(key)
                $.each(videoList, function (key, value) {
                    var profileKey = key
                    counter++;
                    attachVideo(value)

            })
        }
        }
        function fetchVideos(url) {
            var fetchUrl;
            if (!url) {
                fetchUrl = initialURL
            } else {
                fetchUrl = url
            }
            $.ajax({
            url: fetchUrl,
            data: {
                "q": query
            },
            type: "GET",
            beforeSend: function(data) {
              $("#loading-image").show();

           },
            success: function(data){
                $("#loadmore").show();

                videoList = data.results
                if (data.next) {
                    nextVideoUrl = data.next
                } else {
                    nextVideoUrl = null
                    $("#loadmore").css("display", "none");

                }
                parseVideos()
                $("#loading-image").hide();
            },
            error: function(data){
                console.log("error")

            }
        })
        }
            fetchVideos()

        $("#loadmore").click(function(event){
            event.preventDefault()
            // load more items
            if (nextVideoUrl) {
                fetchVideos(nextVideoUrl)
            }

        })

var ready = true
$(window).bind('scroll', function() {
        if(ready && $(window).scrollTop() >= $('.footerscroll').offset().top + $('.footerscroll').outerHeight() - window.innerHeight) {
            $('#loadmore').hide()
            ready = false
          setTimeout(function(){
            if(nextVideoUrl) {
                fetchVideos(nextVideoUrl)
                ready = true
            }
          }, 500);
        }
});



    }
// Events
    function loadEventContainer(eventContainerID) {
        var eventContainer;
        if(eventContainerID) {
            eventContainer = $("#" + eventContainerID)
        }
        else {
             eventContainer = $('#event-container')
        }

        var initialURL = eventContainer.attr("data-url") || "/api/events/";

        function attachPlaylist(eventValue, prepend) {



            var eventUser = eventValue.user
            var profileValue = eventUser.profile
            var playlistImg = "{% static 'static/img/VPlaylist.jpg' %}"
                        var verb = "Attend"
            var attending_count = eventValue.attending_count
            if(eventValue.is_attending) {
                verb = "Attending"
            }


            var eventFormatHtml = "<div class='row'><div class='col-md-2 col-md-offset-2'><a href='" + eventValue.url + "'><img src='" + eventValue.picture + "'class='event-img thumbnail img-responsive' style='display:inline'></a></div><div class='col-md-6'>" +
                    "<h4 class='inline'>" + eventUser.username + "</h4>  <a href='" + eventUser.url + "'><img src='" + profileValue.user_img + "'class='listpic img-circle img-responsive' style='display:inline;height:30px;width:30px'></a><br><a href='" + eventValue.url + "' style='font-size:20px'><h3 class='inline blacklink' style='padding-bottom:10px'>" + eventValue.name + "</h3></a><p>" + eventValue.description + "<h5>" + eventValue.address + "</h5><h5>" + eventValue.display_date + "</h5>" +
                    "<h5>" + eventValue.time + "</h5></p><span data-id='" + eventValue.id + "'class='btn btn-primary attend-btn' >" + verb + " " + eventValue.attending_count + "</span></div></div>"

            if (prepend == true) {
                eventContainer.prepend(eventFormatHtml)
            }
            else {
                eventContainer.append(
                        eventFormatHtml
                )
            }
        }

        var query = getParameterByName('q')
        var eventList = [];
        var nextEventUrl;
//        console.log(query)
        function parseEvents() {

            if (eventList == 0) {
                eventContainer.text("No Events")
                eventContainer.addClass('text-center')
            } else {
                //tweets exist, parse & display them


                //console.log(key)
                $.each(eventList, function (key, value) {
                    var profileKey = key
                    attachPlaylist(value)

                })
            }
        }

        function fetchEvents(url) {
            var fetchUrl;
            if (!url) {
                fetchUrl = initialURL
            } else {
                fetchUrl = url
            }
            $.ajax({
                url: fetchUrl,
                data: {
                    "q": query
                },
                method: "GET",
        beforeSend: function(data) {
              $("#loading-image").show();

           },
                success: function (data) {
                    $("#loadmore").show();
                    eventList = data.results
                    if (data.next) {
                        nextEventUrl = data.next
                    } else {
                        nextEventUrl = null
                        $("#loadmore").css("display", "none");
                    }
                    parseEvents()
                    $("#loading-image").hide();
                },
                error: function (data) {
                    console.log("error")
                }
            })
        }

        fetchEvents()

        $("#loadmore").click(function (event) {
            event.preventDefault()
            // load more items
            if (nextEventUrl) {
                fetchEvents(nextEventUrl)
            }

        })

var ready = true
$(window).bind('scroll', function() {
        if(ready && $(window).scrollTop() >= $('.footerscroll').offset().top + $('.footerscroll').outerHeight() - window.innerHeight) {
            $('#loadmore').hide()
            ready = false
          setTimeout(function(){
            if(nextEventUrl) {
                fetchEvents(nextEventUrl)
                ready = true
            }
          }, 500);
        }
});

    }

// Playlist
function loadPlaylistContainer(playlistContainerID) {
        var playlistContainer;
        if(playlistContainerID) {
            playlistContainer = $("#" + playlistContainerID)
        }
        else {
             playlistContainer = $('#playlist-container')
        }

        var initialURL = playlistContainer.attr("data-url") || "/api/videos/playlist";

        function attachPlaylist(playlistValue, prepend) {



            var videoUser = playlistValue.user
            var profileValue = videoUser.profile
            var playlistImg = "{% static 'static/img/VPlaylist.jpg' %}"
            if(!playlistValue.is_empty) {
                var playlistImg = playlistValue.videos[0].thumbnail
            }
            //var test = playlistValue.videos[0].title
            //console.log(test)


            var playlistFormatHtml = "<div class='col-md-3'><a href='" + videoUser.url + "'><img src='" + profileValue.user_img + "' class='videolistpic img-responsive img-circle' style='display:inline'></a><h5 class='inline'>" + videoUser.username + "</h5>" +
                    "<span class= 'glyphicon glyphicon-user' class='inline' aria-hidden='true'></span><h5 class='inline'>" + " " + profileValue.follower_count + " " + "<span class= 'glyphicon glyphicon-play' class='inline' aria-hidden='true'></span><h5 class='inline'>" + " " + playlistValue.video_count + "  " +
                    "" +  "<a href='" + playlistValue.url + "'><img src='" + playlistImg + "'class='thumbnail img-responsive'></a><a href='" + playlistValue.url + "'><h4 class='text-center blacklink'>" + playlistValue.name + "</h4></a></div>"

            if (prepend == true) {
                playlistContainer.prepend(playlistFormatHtml)
            }
            else {
                playlistContainer.append(
                        playlistFormatHtml
                )
            }
        }

        var query = getParameterByName('q')
        var playlistList = [];
        var nextPlaylistUrl;
//        console.log(query)
        function parseVideos() {

            if (playlistList == 0) {
                playlistContainer.text("No Playlist")
                playlistContainer.addClass('text-center')
            } else {
                //tweets exist, parse & display them


                //console.log(key)
                $.each(playlistList, function (key, value) {
                    var profileKey = key
                    attachPlaylist(value)

                })
            }
        }

        function fetchPlaylist(url) {
            var fetchUrl;
            if (!url) {
                fetchUrl = initialURL
            } else {
                fetchUrl = url
            }
            $.ajax({
                url: fetchUrl,
                data: {
                    "q": query
                },
                method: "GET",
        beforeSend: function(data) {
              $("#loading-image").show();

           },
                success: function (data) {
                    $("#loadmore").show();
                    playlistList = data.results
                    if (data.next) {
                        nextPlaylistUrl = data.next
                    } else {
                        nextPlaylistUrl = null
                        $("#loadmore").css("display", "none");
                    }
                    parseVideos()
                    $("#loading-image").hide();
                },
                error: function (data) {
                    console.log("error")
                }
            })
        }

        fetchPlaylist()

        $("#loadmore").click(function (event) {
            event.preventDefault()
            // load more items
            if (nextPlaylistUrl) {
                fetchPlaylist(nextPlaylistUrl)
            }

        })

var ready = true
$(window).bind('scroll', function() {
        if(ready && $(window).scrollTop() >= $('.footerscroll').offset().top + $('.footerscroll').outerHeight() - window.innerHeight) {
            $('#loadmore').hide()
            ready = false
          setTimeout(function(){
            if(nextPlaylistUrl) {
                fetchPlaylist(nextPlaylistUrl)
                ready = true
            }
          }, 500);
        }
});
}
</script>
</head>
<body>
<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li><a href="{%  url 'accounts:profile_list' %}">Profiles</a>
      <li><a href="{% url 'videos:playlist_list' %}">Playlist</a></li>
      <li><a href="{% url 'hashtags' %}">Hashtags</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'policy' %}">Policy & Guidelines</a></li>
     <li><a href="{% url 'help' %}">Help & Tutorial</a></li>

{#       {% if request.user.is_authenticated %}#}
{#      <li><a href="{% url 'accounts:logout' %}?next={{request.path}}">Logout</a></li>#}
{#        {% endif %}#}


    </ul>
      {% if request.user.is_authenticated %}
            <div class='row'>
        <div class='col-md-12'><h4 class='text-center' style='color:white'>Following</h4></div>
      <div class='whiteline col-md-12' style='width:100%'></div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
    <ul class='followingside' id="followingside">


    </ul>
          <a href="#" id="loadmorefollowing" style='display:none'><h5 class="text-center" style="color:white">Load More</h5></a>
  </div>
  </div>
      {% endif %}
{#            <div class="row">#}
{#          <div class='whiteline col-md-12' style='width:100%'></div>#}
{#          </div>#}
</div>
<div id="page-content-wrapper">
<nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="btn btn-lg navbar-brand" id="menu-toggle">
    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </a>
{#<a href={% url 'accounts:home' %}><img src="{% static 'static/img/visumic_word_white_trans.png' %}"style='height:3em;width:3em;margin-top:-3px;display:inline' class='navbar-brand'></a>#}
<a class="navbar-brand" href="{% url 'accounts:home' %}" style='margin-top:-24px;display:inline'><img src="{% static 'static/img/visumic_word_white_trans.png' %}" style='height:4em;width:4em;margin-top:-3px;display:inline'></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url "videos:video_list" %}">Browse Videos <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url "charts:chart_list_alltime" 'Music' %}">Vcharts</a></li>
        <li><a href="{% url 'accounts:social' %}">Share Feed</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='{% url 'videos:video_category_list' 'Music' %}'>Music</a></li>
            <li><a href='{% url 'videos:video_category_list' 'Poetry' %}'>Poetry</a></li>
            <li><a href='{% url 'videos:video_category_list' 'Film' %}'>Film</a></li>
            <li><a href='{% url 'videos:video_category_list' 'Dance' %}'>Dance</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='{% url 'events:event_list' %}'>View Events</a></li>
            <li><a href='{% url 'events:event_create' %}'>Create Event</a></li>
          </ul>
        </li>
      </ul>
{#      <form class="navbar-form navbar-left">#}
{#        <div class="form-group">#}
{#          <input type="text" class="form-control" placeholder="Search">#}
{#        </div>#}
{#        <button type="submit" class="btn btn-default">Search</button>#}
{#      </form>#}
      <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
        <li><a href="{% url 'accounts:profile_detail' request.user.username %}">{{ request.user.username }}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="{{ context.user_img.url }}" class="img-responsive img-circle navimg">
            </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'accounts:profile_detail' request.user.username %}">View Account</a></li>
            <li><a href="{% url 'accounts:profile_update' %}">Manage Account</a></li>
            <li><a href="{% url 'videos:video_upload' %}">Upload</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'accounts:logout' %}?next={{request.path}}">Logout</a></li>
          </ul>
        </li>
        <a href="{% url 'videos:video_upload' %}" style=" color: inherit;"/><span class="fa fa-upload fa-lg fa-fw" aria-hidden="true"></span></a>
            {% load notifications_tags %}
                {% load staticfiles %}

            <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>

            {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' refresh_period='3' fetch='100' %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle read_notifications" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <div class="menu">
              <img src="{% static 'static/img/noti4.png' %}" class="img-responsive img-circle navimg photoSytle read_notifications" style="display:inline">
                  <span class="menu_label read_notifications">{% live_notify_badge  %}</span>




            </div>
            </a>
          <ul class="dropdown-menu scrollable-menu notification-menu">
  <li class="text-center"><a href="{% url 'notifications:all' %}">See All</a></li>
            {% live_notify_list classes='notification'  %}

          </ul>

        </li>
          {% else %}
                    <li><a href="#" class="login">Login <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>
                    <li><a href="#" class="register">Register <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
          {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

 {% block content %}
 {% endblock content %}
{% include "accounts/loginmodal.html" %}
{% include "accounts/registermodal.html" %}


<style>

</style>



</div>
{% block extra_js %}{% endblock extra_js %}
</body>
<!-- Jquery -->

<script>
 {% block searchCookie %}
     Cookies.set("timeSortCookie", "")
    Cookies.set("searchQueryCookie", "")
  {% endblock searchCookie %}
{% block searchCookieCat %}
    Cookies.set("timeSortCookieCat", "")
   Cookies.set("searchQueryCookieCat", "")
{% endblock searchCookieCat %}
{% block searchCookieGen %}
    Cookies.set("searchQueryCookieGen", "")
    Cookies.set("timeSortCookieGen", "")
{% endblock searchCookieGen %}
 {% block searchCookieAcc %}
    Cookies.set("searchQueryCookieProfile", "")
    Cookies.set("timeSortCookieAcc", "")
 {% endblock searchCookieAcc %}


    Cookies.set("example");
    Cookies.set("menuOpen");
    localStorage.setItem('myCat', 'Tom');
    localStorage.setItem('sideMenuOpen', 'true');
    localStorage.getItem('myCat')
    var menu = localStorage.getItem('myCat')
    if(!localStorage.getItem("sideOpen")) {
        localStorage.setItem("sideOpen", "null")
    }
        var $mytd = $('#mytd'), $elie = $mytd.clone(), os = $mytd.offset();
    if(localStorage.getItem("sideOpen") == "null") {
        $('#wrapper').removeClass("menuNotDisplayed")
       localStorage.setItem("sideOpen", "true");
    }
            if(localStorage.getItem("sideOpen") == "true") {
        $('#wrapper').removeClass("menuNotDisplayed")
          //  console.log("Open")
    }
    else {
        $('#wrapper').addClass("menuNotDisplayed")
       // $('#wrapper').detach("menuNotDisplayed");
           // console.log("Close")
    }

//var menuOutBoolean = Cookies.get("menuOutB") || false;
$('#menu-toggle').click(function(e) {
  e.preventDefault();
 // $('#wrapper').toggleClass("menuNotDisplayed");
   if(localStorage.getItem("sideOpen") == "true") {
       $('#wrapper').addClass("menuNotDisplayed");
       localStorage.setItem("sideOpen", "false")
   }
    else {
{#       $('#wrapper').removeClass("menuNotDisplayed")#}
       $('#wrapper').removeClass("menuNotDisplayed")
       localStorage.setItem("sideOpen", "true")
   }


    console.log(localStorage.getItem("sideOpen"))
    //console.log(menuOutBoolean)
});
        $(document).ready(function() {

            function attachProfileSideFollowing(profileUser, prepend) {





            var profileValue = profileUser.profile

            var profileFormattedHtml2 ="<li><a href='" + profileUser.url + "'><img src='" + profileValue.user_img +"'class='sidelistpic img-responsive img-circle' style='display:inline'></a><h6 class='inline' style='color:white'>" + profileUser.username + "</h6></li>"
                var okay = "<h1>Hello World</h1>"
            if (prepend == true) {
                $("#followingside").prepend(profileFormattedHtml2)
            }
            else {
                $("#followingside").append(
                        profileFormattedHtml2

                )
            }
        }


        var profileSideFollowingList = [];
        var nextProfileSideFollowingUrl;
//        console.log(query)
        function parseProfilesFollowing() {

                if (profileSideFollowingList == 0) {
                   // $("#userfollowers").text("Following No Profiles.")
                } else {
                    //tweets exist, parse & display them


                //console.log(key)
                $.each(profileSideFollowingList, function (key, value) {
                    var profileKey = key
                    attachProfileSideFollowing(value)


            })
        }
        }
        function fetchProfilesSideFollowing(url) {

            var fetchUrl;
            if (!url) {
                fetchUrl = "/api/accounts/" + "{{ request.user.username }}" + "/following/"
            } else {
                fetchUrl = url
            }
            $.ajax({
            url: fetchUrl,
            data: {
            //    "q": query
            },
            method: "GET",
            success: function(data){

                profileSideFollowingList = data.results
                if (data.next) {
                    nextProfileSideFollowingUrl = data.next
                    $("#loadmorefollowing").css("display", "unset");
                } else {
                    $("#loadmorefollowing").css("display", "none");
                }
                parseProfilesFollowing()
            },
            error: function(data){
                console.log("error")

            }
        })
        }
            fetchProfilesSideFollowing()

        $("#loadmorefollowing").click(function(event){
            event.preventDefault()
            // load more items
            if (nextProfileSideFollowingUrl) {
                fetchProfilesSideFollowing(nextProfileSideFollowingUrl)
            }

        })

        $(".read_notifications").click(function() {
            $.ajax({
                url: "{% url 'notifications:mark_all_as_read' %}",
                success: function(result) {

                }
            })
        })

            })



</script>
