
{% block content %}







 <script>
 $(document).ready(function() {



 })


 </script>

<div class="modal fade" id="deletecmtModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myvideoEditLabel">Visumic | Delete</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid" style="margin-left:200px">

            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Are you sure you want to delete?</h3>

                        <button  class="btn btn-primary inline deletecmt-btn">Yes</button>
                        <button  class="btn btn-primary inline" data-dismiss="modal">No</button>
                </div>
                </div>

        </div>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}