{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ playlist.name }}</title>
    {% block metatags %}
        <meta property='og:title' content="Visumic: {{ playlist.name }}"/>
        <meta property='og:image' content="{% static 'static/img/Vplaylist.jpg'  %}"/>
        <meta property='og:description' content="{{ playlist.description }}"/>
        <meta property='og:url' content='{{ playlist.get_absolute_url }}' />
    {% endblock metatags %}

{#<body>#}
{#    <h1>{{ User.username }}</h1>#}
{#    <h2>{{ User.profile.id }}</h2>#}
{#    <h3>{{ object.id }}</h3>#}
{#    <h2><img src="{{ User.profile.user_img.url }}"></h2>#}
{#    <h2>{% if all_videos %}#}
{#            <h1>Hello</h1>#}
{#        {% for video in all_videos %}#}
{#            <h4>{{ video.title }}#}
{#                {{ User.profile.user.videos.all }}#}
{#            </h4>#}
{##}
{#        {% endfor %}#}
{#        {% endif %}#}
{#    </h2>#}
{#</body>#}


<script>
     $(document).ready(function() {
         function displayProfile(profileValue) {
             var profileUser = profileValue.user
             var verb = "Follow"
             if(profileValue.is_following) {
                verb = "Unfollow"
            }


            var profileFormatedHtml = "<div class='row'><div class='col-md-2'><a href='" + profileUser.url + "'><img class='img-circle img-responsive playlistpic' src='" + profileValue.user_img + "'></a><h4 class='text-center'>" + profileUser.username + "</h4>" +
                    "<span class='glyphicon glyphicon-user inline' aria-hidden='true'></span><a href='#' class='follow-btn btn btn-primary' data-id=" + profileUser.username + ">" + verb + " " + profileValue.follower_count + "</a><span class='glyphicon glyphicon-play inline' aria-hidden='true'></span><h5 class='inline'>" + profileUser.video_count + "</h5></div></div>"

             $('#userprofile').append(profileFormatedHtml)
         }
       function fetchProfile(url) {
            var fetchUrl;
            if (!url) {
                fetchUrl = "/api/accounts/" + "{{ playlist.user.username }}"
            } else {
                fetchUrl = "/api/accounts/"
                fetchUrl = fetchUrl + url.toString()
            }
            $.ajax({
            url: fetchUrl,
{#            data: {#}
{#                "q": query#}
{#            },#}
            method: "GET",
            success: function(data){
                displayProfile(data)


            },
            error: function(data){
                console.log("error")
            }
        })
        }
         fetchProfile()


        loadVideoContainer("playlistvideos")

      $(document.body).on("click", ".remove-video-btn", function(e) {

          e.preventDefault()
          var this_ = $(this)
          var videoId = this_.attr("data-id")
          var removeVideoUrl = '/api/videos/playlist/' + "{{ playlist.id }}" + '/remove/' + videoId + '/'

          swal({
                      title: "Are you sure?",
                      text: "Are you sure that you want to remove this video?",
                      type: "warning",
                      showCancelButton: true,
                      allowOutsideClick: true,
                      closeOnConfirm: true,
                      confirmButtonText: "Yes, delete it!",
                      confirmButtonColor: "black"

                  },
                  function () {
                      $.ajax({
                          method: "GET",
                          url: removeVideoUrl,
                          success: function (data) {

                              if (data.in_playlist) {

                                  $('#' + videoId).hide(500)


                              } else {


                              }
                          },
                          error: function (data) {
                              popUpLoginModal()
                              console.log("error")
                          }
                      })
                  })
      })


     $(document.body).on("click", ".deleteplaylist-btn", function(e){
      e.preventDefault()
      var this_ = $(this)
      var playlistId = this_.attr("data-id")
      var deletePlaylistUrl = '/api/videos/playlist/' + "{{ playlist.id }}"  + '/'
        swal({
        title: "Are you sure?",
        text: "Are you sure that you want to remove this playlist?",
        type: "warning",
        showCancelButton: true,
        allowOutsideClick: true,
        closeOnConfirm: true,
        confirmButtonText: "Yes, delete it!",
        confirmButtonColor: "black"

    },
            function() {
                // this_.text("Liked")
                $.ajax({
                    method: "DELETE",
                    url: deletePlaylistUrl,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                    },
                    success: function (data) {
                        console.log("deleted")
                         {% if request.user.is_authenticated %}
                        window.location.replace('{% url 'accounts:profile_detail-playlist' request.user.username %}')
                        {% endif %}
{#                        $('#' + "{{ playlist.id }}").hide(500)#}
                    },
                    error: function (data) {
                        popUpLoginModal()
                        console.log("error")
                    }
                })
            })

  })


$('#playlistdesc').linkify();
  })



</script>
    <div class="container-fluid" id="userprofile">


</div>
    <h2 class='text-center'>{{ playlist.name }}</h2><h5 class="text-center" id="playlistdesc">{{ playlist.description }}</h5>{% if request.user == playlist.user %}<span class="btn btn-primary playlistedit">Edit</span><span class="btn btn-primary deleteplaylist-btn">Delete</span>{% endif %}
    <div class='row'>
      <div class='col-md-12 blackline'></div>
    </div>
    <div class="container-fluid">


        <div class="row fix" id="playlistvideos" style="padding:20px;" data-url="/api/videos/playlist/{{ playlist.id }}/videos/">


    </div>

    </div>
                <div class="text-center" style="padding-top:30px"><span id="loadmore" class="btn btn-primary" style="width:75%;display:none"><h5 class="text-center">Load More Videos</h5></span></div>
{% load static %}
{#    <img src="{% static 'static/img/ajax-loader.gif'  %}">#}
    <div id="myDiv" class="text-center">
        <img id="loading-image" src="{% static 'static/img/ajax-loader.gif'  %}" style="display:none;"/>
    </div>


    {% include "videos/playlist_edit_modal.html" %}

{% endblock content %}