{% extends 'base.html' %}
{% block content %}
    <title>Playlist</title>
<script>
    $(document).ready(function() {
        {% load static %}

        function attachPlaylist(playlistValue, prepend) {

            //var profiletImg = profileValue.user_img


            var videoUser = playlistValue.user
            var profileValue = videoUser.profile
            var playlistImg = "{% static 'static/img/VPlaylist.jpg' %}"
            if(!playlistValue.is_empty) {
                var playlistImg = playlistValue.videos[0].thumbnail
            }
            //var test = playlistValue.videos[0].title
            //console.log(test)


            var playlistFormatHtml = "<div class='col-md-3'><a href='" + videoUser.url + "'><img src='" + profileValue.user_img + "' class='videolistpic img-responsive img-circle' style='display:inline'></a><h5 class='inline'>" + videoUser.username + "</h5>" +
                    "<span class= 'glyphicon glyphicon-user' class='inline' aria-hidden='true'></span><h5 class='inline'>" + " " + profileValue.follower_count + " " + "<span class= 'glyphicon glyphicon-play' class='inline' aria-hidden='true'></span><h5 class='inline'>" + " " + playlistValue.video_count + "  " +
                    "" +  "<a href='" + playlistValue.url + "'><img src='" + playlistImg + "'class='thumbnail img-responsive'></a><a href='" + playlistValue.url + "'><h4 class='text-center blacklink'>" + playlistValue.name + "</h4></a></div>"

            if (prepend == true) {
                $("#playlist-container").prepend(playlistFormatHtml)
            }
            else {
                $("#playlist-container").append(
                        playlistFormatHtml
                )
            }
        }

        var query = getParameterByName('q')
        var videoList = [];
        var nextVideoUrl;
//        console.log(query)
        function parseVideos() {

            if (videoList == 0) {
                $("#playlist-container").text("No Playlist")
                $("#playlist-container").addClass('text-center')
            } else {
                //tweets exist, parse & display them


                //console.log(key)
                $.each(videoList, function (key, value) {
                    var profileKey = key
                    attachPlaylist(value)
                    console.log(value)

                })
            }
        }

        function fetchPlaylist(url) {
            console.log("fethicng ...")
            var fetchUrl;
            if (!url) {
                fetchUrl = "/api/videos/playlist"
            } else {
                fetchUrl = url
            }
            $.ajax({
                url: fetchUrl,
                data: {
                    "q": query
                },
                method: "GET",
        beforeSend: function(data) {
              $("#loading-image").show();

           },
                success: function (data) {
                    $("#loadmore").show();
                    console.log(data)
                    videoList = data.results
                    if (data.next) {
                        nextVideoUrl = data.next
                    } else {
                        $("#loadmore").css("display", "none");
                        nextVideoUrl = null
                    }
                    parseVideos()
                    $("#loading-image").hide();
                },
                error: function (data) {
                    console.log("error")
                    console.log(data)
                }
            })
        }

        fetchPlaylist()

        $("#loadmore").click(function (event) {
            event.preventDefault()
            // load more items
            if (nextVideoUrl) {
                fetchPlaylist(nextVideoUrl)
            }

        })

        var typingTimer;
        var doneInterval = 800; // in ms
        var searchInput = $("#playlist-search-form input[type=text]")
        var searchQuery;
        searchInput.keyup(function(event){
            searchQuery =  $(this).val()
            clearTimeout(typingTimer)
            typingTimer = setTimeout(doneSearchTyping, doneInterval)

        })
         searchInput.keydown(function(event){
            clearTimeout(typingTimer)
        })
        function doneSearchTyping(){
          if (searchQuery){
            // do search
            var url = '/playlist/browse/?q=' + searchQuery
            document.location.href = url;
          }
            else {
              var url = '/playlist/browse'
              document.location.href = url;
          }
        }

    })
</script>
{% include "videos/playlist_search_form.html" %}
    <div class='container-fluid'><div class='row'>
            <div id="playlist-container">

            </div>
        </div>
        </div>
            <div class="text-center" style="padding-top:30px"><span id="loadmore" class="btn btn-primary" style="width:75%;display:none"><h5 class="text-center">Load More Playlist</h5></span></div>
    {% load static %}
    <div id="myDiv" class="text-center">
        <img id="loading-image" src="{% static 'static/img/ajax-loader.gif'  %}" style="display:none;"/>
    </div>
{% endblock content %}