
{% block content %}







 <script>
 $(document).ready(function() {

     function getFormData() {
         //event.preventDefault()
         var this_ = $(this)
         var formData = this_.serialize()

         console.log("fethicng ...")
         $.ajax({
             url: "/api/videos/playlist/" + "{{ playlist.pk }}" + "/",
             data: formData,
             method: "GET",
             success: function (data) {
                 console.log(data)
               //  console.log(data.thumbnail)
                 //this_.find("input[type=text], textarea").val("")
                 $("#playlist-edit-form .name").val(data.name)
                 $("#playlist-edit-form textarea").val(data.description)
                 //$('#video-edit-form image').val(data.thumbnail)
                 //$("#video-edit-form .thumbnail").url(data.thumbnail)
                 //attachComment(data, true)
                 //fetchTweets()
                 //tweetList = data
                 //parseTweets()

             },
             error: function (data) {
                 console.log("error")
                 cannot()
                 console.log(data)
             }
         })
     }
        $("#playlist-edit-form").submit(function(event){
        event.preventDefault()
        var this_ = $(this)
        var formData = this_.serialize()

            console.log("fethicng ...")
            $.ajax({
                url: "/api/videos/playlist/" + "{{ playlist.pk }}" + "/",
                data: formData,
                method: "POST",
                success: function (data) {
                    $('#playlistEditModal').modal('hide')
                    window.location.reload();
                    console.log(data)
{#                    this_.find("input[type=text], textarea").val("")#}
{#                    this_.find("input[type=text], .title").val("")#}


                    //$.ajax.reload()



                    //attachComment(data, true)
                    //fetchTweets()
                    //tweetList = data
                    //parseTweets()

                },
                error: function (data) {
                    console.log("error")
                    cannot()
                    console.log(data)
                }
            })


    })

     getFormData()

 })


 </script>

<div class="modal fade" id="playlistEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myplaylistEditLabel">Vcraft| Edit Playlist</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid text-center">

            <div class="col-sm-12 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Edit {{ playlist.name }}</h3>
                        {% include "videos/editform.html" with form=playlist_edit_form action_url=playlist_url  btn_title='Change' form_id='playlist-edit-form' %}
                </div>
                </div>

        </div>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}