{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
    <title>Playlist</title>
    {% block metatags %}
        <meta property='og:title' content="Visumic: View Playlist"/>
        <meta property='og:image' content="{% static 'static/img/visumic_white_logo.png'  %}"/>
        <meta property='og:description' content="Browse through Visumic's users video playlist"/>
        <meta property='og:url' content='{% url 'videos:playlist_list' %}' />
    {% endblock metatags %}
<script>
    $(document).ready(function() {
        {% load static %}

        loadPlaylistContainer("playlist-container")
        var typingTimer;
        var doneInterval = 800; // in ms
        var searchInput = $("#playlist-search-form input[type=text]")
        var searchQuery;
        searchInput.keyup(function(event){
            searchQuery =  $(this).val()
            clearTimeout(typingTimer)
            typingTimer = setTimeout(doneSearchTyping, doneInterval)

        })
         searchInput.keydown(function(event){
            clearTimeout(typingTimer)
        })
        function doneSearchTyping(){
          if (searchQuery){
            // do search
            var url = '/playlist/browse/?q=' + searchQuery
            document.location.href = url;
          }
            else {
              var url = '/playlist/browse'
              document.location.href = url;
          }
        }

    })
</script>
{% include "videos/playlist_search_form.html" %}
    <div class='container-fluid'><div class='row'>
            <div id="playlist-container" data-url="/api/videos/playlist">

            </div>
        </div>
        </div>
    <div class="footerscroll"></div>
        </div>
            <div class="text-center" id="loadmore" style="display:none"><span id="loadmore" class="btn btn-primary"><h5 class="text-center">Load More Playlist</h5></span></div>
    {% load staticfiles %}
        <div id="myDiv" class="text-center">
        <img id="loading-image" src="{% static 'static/img/ajax-loader.gif'  %}" style="display:none;"/>
    </div>
{% endblock content %}