{% extends 'base.html' %}

{% block content %}

    <title>{{ category.genrename }}</title>


    <script>
    Cookies.set("timeSortCookie", "")
    Cookies.set("searchQueryCookie", "")
    Cookies.set("searchQueryCookieGen", "")
    Cookies.set("timeSortCookieGen", "")
    Cookies.set("searchQueryCookieProfile", "")
    Cookies.set("timeSortCookieAcc", "")
    {% block searchCookieCat %}
        {% endblock searchCookieCat %}
var timeSortCookieCat = Cookies.set( "timeSortCookieCat" )
    $(document).ready(function() {

        function attachVideo(videoValue, prepend) {

            //var profiletImg = profileValue.user_img



            var videoUser = videoValue.user
            var profileValue = videoUser.profile
            var verb = "Follow"
          //  var follower_count = profileValue.follower_count
           // if(profileValue.is_following) {
           //     verb = "Unfollow"
           // }

            //var profileFormattedHtml2 = "<div class='col-md-3 profilecontainer text-center'>'" +
           //         "<a href ='" +  profileUser.url + "'><img src='" + profileValue.user_img + "'class='listpic img-circle img-responsive'></a><h6>" + profileUser.username + "|</h6><span class='glyphicon glyphicon-user' aria-hidden='true'><h6><a href='#' class='follow-btn' data-id="+ profileValue.id +">" + verb +  profileValue.follower_count + "|" +
             //       "</a></h6></span><span class='glyphicon glyphicon-play' aria-hidden='true'><h6>Videos:" + profileUser.video_count + "</h6></span></div>"


            var videoFormatHtml = "<div class='col-md-3' style='padding-top:20px'><a href='" + videoUser.url + "'><img src='" + profileValue.user_img + "' class='videolistpic img-responsive img-circle' style='display:inline'></a><h5 class='inline'>" + videoUser.username + "</h5>" +
                    "<h6 class='inline'><span class= 'glyphicon glyphicon-user' class='inline' aria-hidden='true'></span>" + " " + profileValue.follower_count + " " + "</h6><h6 class='inline'><span class= 'glyphicon glyphicon-facetime-video' aria-hidden='true'></span>" + " " + videoUser.video_count + "  " +
                    "</h6><h6 class='inline'><span class='glyphicon glyphicon-play' class='inline' aria-hidden='true'></span>" + " " + videoValue.views + " " + "</h6><h6 class='inline'><span class='glyphicon glyphicon-share' class='inline' aria-hidden='true'></span>" + " " + videoValue.shares_count + " " + "</h6><h6 class='inline'><span class='glyphicon glyphicon-thumbs-up' class='inline' aria-hidden='true'></span>" + " " + videoValue.likes_count + "</h6><a href='"+ videoValue.url +"'><img src='" + videoValue.thumbnail + "'class='thumbnail img-responsive'></a><a href='"+ videoValue.url +"'><h5 class='text-center blacklink'>" +  videoValue.title  +"</h5></a><h6 class='text-center'>" + videoValue.timesince + "</h6></div>"

            if (prepend == true) {
                $("#video-genre-container").prepend(videoFormatHtml)
            }
            else {
                $("#video-genre-container").append(
                        videoFormatHtml

                )
            }
        }

        var query = getParameterByName('q')
        var ordering = getParameterByName('ordering')
        var videoList = [];
        var nextVideoUrl;
//        console.log(query)
        function parseVideos() {

                if (videoList == 0) {
                    $("#video-genre-container").text("No Videos Currently Found.")
                    $("#video-genre-container").addClass("text-center")
                } else {
                    //tweets exist, parse & display them


                //console.log(key)
                $.each(videoList, function (key, value) {
                    var profileKey = key
                    attachVideo(value)
                    console.log(value)

            })
        }
        }
        function fetchVideos(url) {
            console.log("fethicng ...")
            var fetchUrl;
            if (!url) {
                fetchUrl = "/api/videos/category/" + "{{ category.genrename }}" + "/"
            } else {
                fetchUrl = url
            }
            $.ajax({
            url: fetchUrl,
            data: {
                "q": query,
                "ordering": ordering
            },
            beforeSend: function() {
              $("#loading-image").show();

           },
            method: "GET",
            success: function(data){
                $("#loading-image").hide();
                $('#loadmore').show()

               console.log(data)
                videoList = data.results
                if (data.next) {
                    nextVideoUrl = data.next
                } else {
                    $("#loadmore").css("display", "none");
                    //nextVideoUrl = null
                }
                parseVideos()
            },
            error: function(data){
                console.log("error")
                console.log(data)
            }
        })
        }
            fetchVideos()

        $("#loadmore").click(function(event){
            event.preventDefault()
            // load more items
            if (nextVideoUrl) {
                fetchVideos(nextVideoUrl)
            }

        })

{#    window.onscroll = function(ev) {#}
{#    if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {#}
{#       if(nextVideoUrl) {#}
{#           fetchVideos(nextVideoUrl)#}
{#       }#}
{##}
{#    }#}
{#    }#}

        var typingTimer;
        var doneInterval = 800; // in ms
        var searchInput = $("#video-search-form input[type=text]")
        var searchQuery;
        searchInput.keyup(function(event){
            searchQuery =  $(this).val()
            clearTimeout(typingTimer)
            typingTimer = setTimeout(doneSearchTyping, doneInterval)

        })
         searchInput.keydown(function(event){
            clearTimeout(typingTimer)
        })
var searchQueryCookieCat = Cookies.set("searchQueryCookieCat")
        function doneSearchTyping(){

          if (searchQuery){
            // do search
            Cookies.set("searchQueryCookieCat", searchQuery)
            if(timeSortCookieCat) {
                var url ='/videos/category/' + "{{ category.genrename }}" + '/?q=' + searchQuery + '&ordering=' + timeSortCookieCat
            }
              else {
                url = '/videos/category/' + "{{ category.genrename }}" + '/?q=' + searchQuery
            }
            document.location.href = url;
          }
            else {
               Cookies.set("searchQueryCookieCat", "")
              var url = '/videos/category/' + "{{ category.genrename }}" + "/?ordering=" + timeSortCookieCat
              document.location.href = url;
          }
        }






    $('select[name=Sort]').change(function () {
        // Pure JS
    //    var selectedVal = this.value;
     //   var selectedText = this.options[this.selectedIndex].text;

        // jQuery
        var selectedVal = $(this).find(':selected').val();
        var selectedText = $(this).find(':selected').text();

        if (selectedVal) {
            // do search
            if(searchQueryCookieCat) {
            var url = '/videos/category/' + "{{ category.genrename }}" + '/?ordering=' + selectedVal + '&q=' + searchQueryCookieCat
            }
            else {
                var url = '/videos/category/' + "{{ category.genrename }}" + '/?ordering=' + selectedVal

            }
            document.location.href = url;
        }
        else {
            if(searchQueryCookieCat) {
                var url = '/videos/category/' + "{{ category.genrename }}" + "/?q=" + searchQueryCookieCat
            } else {

                var url = '/videos/category/' + "{{ category.genrename }}" + "/"

            }

             document.location.href = url;

        }
    });


    selElem = $('select[name=Sort]');
console.log( timeSortCookieCat );
selElem.on('change', function() {
    Cookies.set( "timeSortCookieCat", this.value );
});
if( timeSortCookieCat != undefined ) {
    selElem.val(timeSortCookieCat);
} else {
    Cookies.set( "timeSortCookieCat", selElem.val() );
}



    });

</script>
{% include "videos/video_search_form.html" %}
    <div class='container-fluid'><div class='row'>
     <select name="Sort">
  <option value="">Sort</option>
        <option value="title">A-Z</option>
        <option value="-title">Z-A</option>
        <option value="-timestamp">Most Recent</option>
        <option value="timestamp">Oldest</option>
  </select>
        <li class="dropdown" style="list-style:none;display:inline">
          <a href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genres<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'videos:video_category_list' category.genrename %}">All</a></li>
            {% for genre in genres %}
              <li><a href="{% url 'videos:video_genre_list' category.genrename genre.genrename %}">{{ genre.genrename }}</a></li>
              {% endfor %}

          </ul>
        </li>
            <div id="video-genre-container" class="row fix">

            </div>
        </div>
        </div>
            <div class="text-center"><span id="loadmore" class="btn btn-primary" style="width:75%;display:none"><h5 class="text-center">Load More Videos</h5></span></div>
    {% load staticfiles %}
        <div id="myDiv" class="text-center">
        <img id="loading-image" src="{% static 'static/img/ajax-loader.gif'  %}" style="display:none;"/>
    </div>

{% endblock content %}
