{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
    <title>{{ category.genrename }}</title>
    {% block metatags %}
        <meta property='og:title' content="Visumic: View {{ category.genrename }} Videos!"/>
        <meta property='og:image' content="{% static 'static/img/visumic_white_logo.png'  %}"/>
        <meta property='og:description' content="Browse though all {{ category.genrename }} videos uploaded by talented artist"/>
        <meta property='og:url' content='{% url 'videos:video_category_list' category.genrename %}' />
{% endblock metatags %}
    <script>
    Cookies.set("timeSortCookie", "")
    Cookies.set("searchQueryCookie", "")
    Cookies.set("searchQueryCookieGen", "")
    Cookies.set("timeSortCookieGen", "")
    Cookies.set("searchQueryCookieProfile", "")
    Cookies.set("timeSortCookieAcc", "")
    {% block searchCookieCat %}
        {% endblock searchCookieCat %}
var timeSortCookieCat = Cookies.set( "timeSortCookieCat" )
    $(document).ready(function() {

    loadVideoContainer("video-genre-container")

{#    window.onscroll = function(ev) {#}
{#    if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {#}
{#       if(nextVideoUrl) {#}
{#           fetchVideos(nextVideoUrl)#}
{#       }#}
{##}
{#    }#}
{#    }#}

        var typingTimer;
        var doneInterval = 800; // in ms
        var searchInput = $("#video-search-form input[type=text]")
        var searchQuery;
        searchInput.keyup(function(event){
            searchQuery =  $(this).val()
            clearTimeout(typingTimer)
            typingTimer = setTimeout(doneSearchTyping, doneInterval)

        })
         searchInput.keydown(function(event){
            clearTimeout(typingTimer)
        })
var searchQueryCookieCat = Cookies.set("searchQueryCookieCat")
        function doneSearchTyping(){

          if (searchQuery){
            // do search
            Cookies.set("searchQueryCookieCat", searchQuery)
            if(timeSortCookieCat) {
                var url ='/videos/category/' + "{{ category.genrename }}" + '/?q=' + searchQuery + '&ordering=' + timeSortCookieCat
            }
              else {
                url = '/videos/category/' + "{{ category.genrename }}" + '/?q=' + searchQuery
            }
            document.location.href = url;
          }
            else {
               Cookies.set("searchQueryCookieCat", "")
              var url = '/videos/category/' + "{{ category.genrename }}" + "/?ordering=" + timeSortCookieCat
              document.location.href = url;
          }
        }






    $('select[name=Sort]').change(function () {
        // Pure JS
    //    var selectedVal = this.value;
     //   var selectedText = this.options[this.selectedIndex].text;

        // jQuery
        var selectedVal = $(this).find(':selected').val();
        var selectedText = $(this).find(':selected').text();

        if (selectedVal) {
            // do search
            if(searchQueryCookieCat) {
            var url = '/videos/category/' + "{{ category.genrename }}" + '/?ordering=' + selectedVal + '&q=' + searchQueryCookieCat
            }
            else {
                var url = '/videos/category/' + "{{ category.genrename }}" + '/?ordering=' + selectedVal

            }
            document.location.href = url;
        }
        else {
            if(searchQueryCookieCat) {
                var url = '/videos/category/' + "{{ category.genrename }}" + "/?q=" + searchQueryCookieCat
            } else {

                var url = '/videos/category/' + "{{ category.genrename }}" + "/"

            }

             document.location.href = url;

        }
    });


    selElem = $('select[name=Sort]');
selElem.on('change', function() {
    Cookies.set( "timeSortCookieCat", this.value );
});
if( timeSortCookieCat != undefined ) {
    selElem.val(timeSortCookieCat);
} else {
    Cookies.set( "timeSortCookieCat", selElem.val() );
}



    });

</script>
{% include "videos/video_search_form.html" %}
    <div class='container-fluid'><div class='row'>
     <select name="Sort">
  <option value="">Sort</option>
        <option value="title">A-Z</option>
        <option value="-title">Z-A</option>
        <option value="-timestamp">Most Recent</option>
        <option value="timestamp">Oldest</option>
  </select>
        <li class="dropdown" style="list-style:none;display:inline">
          <a href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genres<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'videos:video_category_list' category.genrename %}">All</a></li>
            {% for genre in genres %}
              <li><a href="{% url 'videos:video_genre_list' category.genrename genre.genrename %}">{{ genre.genrename }}</a></li>
              {% endfor %}

          </ul>
        </li>
            <div id="video-genre-container" class="row fix" data-url="/api/videos/category/{{ category.genrename }}/">

            </div>
        </div>
        </div>
            <div class="text-center"><span id="loadmore" class="btn btn-primary" style="width:75%;display:none"><h5 class="text-center">Load More Videos</h5></span></div>
    {% load staticfiles %}
        <div id="myDiv" class="text-center">
        <img id="loading-image" src="{% static 'static/img/ajax-loader.gif'  %}" style="display:none;"/>
    </div>

{% endblock content %}
